.tableInput, td {
    border: 1px solid #000000;
    border-collapse: collapse;
    
  }
 .tableInput , table{
     width: 250px;
     height: 250px;
 }

  body{
      background-color: #64fa56;
  }
  .tableInput >table, table td {
    padding:0;
    margin: 0;
    border-collapse: collapse;
}